<nav class="site-nav">
  <h1>{{.siteName}}</h1>
    {{with .viewer}}
    <span class="viewer">
      <a href="/profile">{{ if .FullName }}{{.FullName}}&nbsp;({{.Username}}){{else}}{{.Username}}{{end}}</a> — <a href="/logout">Sign Out</a>
    </span>
    {{end}}
</nav>
