{{ define "title"}}
  <title>Not Found</title>
{{ end }}
{{ define "content" }}
  <div class="error-page">
  <h2>404 Not Found</h2>
  <p>
    The page you're looking for is not here. <a href="/">Return</a>
  </p>
  </div>
{{ end }}
