{{ define "title" -}}
  <title>Verify your {{.siteName}} account</title>
{{- end }}
{{ define "content" -}}
  <div class="page form-completion">
    <h3>Thank you for signing up</h3>
    <div class="msg">
      <p>
      We sent you an email to complete the registration process. You should see it in a bit.
      </p>
    </div>
  </div>
{{- end }}
