{{ define "title"}}
  <title>Confirmed {{ .siteName }} account</title>
{{ end }}
{{ define "content" }}
  <div class="page form-completion">
    <h3>Thank you for signing up</h3>
    <div class="msg">
      <p>
      We confirmed your account. You can now use the site. 
      <a href="/login">Sign In</a>
      </p>
    </div>
  </div>
{{end}}
